<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Situation configurator - Hanabi</title>
    <%- include ("../partials/header.ejs") %>
</head>
<body class="minimal">
<div class="view-display">
    <div id="container" class="container container-minimal">
        <div class="row-minimal">
            <div class="col-minimal">
                <% if (gameSituation.nbRemainingCardsInDeck || gameSituation.highestCardsPlayed) { %>
                    <div class="row-minimal">
                        <% if (gameSituation.nbRemainingCardsInDeck) { %>
                            <div class="col-minimal">
                                <div class="area-deck">
                                    <div class="card">
                                        <%= gameSituation.nbRemainingCardsInDeck; %>
                                    </div>
                                </div>
                            </div>
                        <% } %>

                        <% if (gameSituation.highestCardsPlayed) { %>
                            <div class="col-minimal">
                                <div class="area-played">
                                    <div class="card-slots">
                                        <% gameSituation.highestCardsPlayed.forEach(({ color, value }, index) =>{ %>
                                            <div class="card-slot slot-<%= index + 1; %>">
                                                <div class="card color-<%= color; %> number-<%= value || '0'; %>">
                                                    <%= value || '-'; %>
                                                </div>
                                            </div>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } %>

                <% if (gameSituation.discardedCards) { %>
                    <div class="row-minimal">
                        <div class="col-minimal">
                            <div class="area-discarded">
                                <div class="card-slots">
                                    <% [...gameSituation.discardedCards].forEach(([color, values], index) =>{ %>
                                        <div class="card-slot slot-<%= index + 1; %>">
                                            <div class="card color-<%= color; %>"></div>
                                            <p class="values">
                                                <% values.forEach((value) =>{ %>
                                                    <%= value; %>
                                                <% }); %>
                                            </p>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>

            <% if (gameSituation.players) { %>
                <div class="col-minimal">
                    <div class="area-players">
                        <% gameSituation.players.forEach(({ name, hand, clue, clues }, playerIndex) => { %>
                            <div class="player player-<%= playerIndex; %>">
                                <div class="name"><%= name; %></div>

                                <div class="card-slots">
                                    <% hand.forEach(({ color, value, clued, clued1, clued2, title }, index) => { %>
                                        <div class="card-slot slot-<%= index; %> <%= clue.content && clued ? 'with-clue' : ''; %>"
                                             title="<%= title %>">
                                            <div class="clues">
                                                <% if (clues.length === 0) { %>
                                                    <div class="clue">
                                                        <span class="picto"></span>
                                                        <span class="content">&nbsp;</span>
                                                    </div>
                                                <% } else { %>
                                                    <% clues.forEach((clue, clueIndex) => { %>
                                                        <div
                                                                class="clue
                                                                <%= clues.length > 1 ? `clue-${clueIndex + 1}` : '' %>
                                                                <% if (((clued1 && clueIndex === 0) || (clued2 && clueIndex === 1)) && clue.content) { %>visible<% } %>
                                                                "
                                                        >
                                                            <span class="picto"></span>
                                                            <span class="content
                                                                <% if ((clued1 && clueIndex === 0) || (clued2 && clueIndex === 1) && clue.content) { %><%= clue.type %>-<%= clue.content || 'X'; %><% } %>
                                                            ">
                                                                <%= (clued1 && clueIndex === 0) || (clued2 && clueIndex === 1) && clue.content ? clue.content : '' %>
                                                                <% if ((!clued1 && clueIndex === 0) || (!clued2 && clueIndex === 1) || !clue.content) { %>
                                                                    &nbsp;
                                                                <% } %>
                                                            </span>
                                                        </div>
                                                    <% }); %>
                                                <% } %>
                                            </div>

                                            <div class="
                                                card
                                                value-real-<%= value.real || 'X'; %>
                                                value-known-<%= value.known || 'X'; %>
                                                color-real-<%= color.real || 'X'; %>
                                                color-known-<%= color.known || 'X'; %>
                                                <% if (clued) { %>clued<% } %>
                                            ">
                                                <div class="known">
                                                    <% if (value.known) { %>
                                                        <%= value.known; %>
                                                    <% } else { %>
                                                        &nbsp;
                                                    <% } %>
                                                </div>

                                                <% if (color.known !== color.real || value.known !== value.real) { %>
                                                    <div class="
                                                        real
                                                        <%= (color.known !== color.real) ? `color-content color-${color.real || 'X'}` : ''; %>
                                                        <%= (value.known !== value.real) ? `value-content value-${value.real || 'X'}` : ''; %>
                                                    ">
                                                        <% if (!value.known && !value.real) { %>
                                                           <%= '(X)' %>
                                                        <% } else { %>
                                                            <%= `(${value.real ?? value.known ?? 'X'})` %>
                                                        <% } %>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
</body>
</html>
