<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Situation configurator - Hanabi</title>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
<div class="view-index">
    <div class="container">
        <h1>Situation configurator</h1>

        <form id="generation-form">
            <div class="row justify-content-center">
                <div class="col">
                    <h2>Configuration</h2>
                    <small class="form-text text-muted">
                        Use the initials of the English colors with <strong>capital letters</strong>:
                        <code class="inline">B</code>,
                        <code class="inline">R</code>,
                        <code class="inline">Y</code>,
                        <code class="inline">G</code>,
                        <code class="inline">W</code>,
                        <code class="inline">M</code>,
                        <code class="inline">Bk</code>,
                        or <code class="inline">X</code> when it does not matter
                        (<a type="button" class="bt n btn-primary" data-bs-toggle="modal" data-bs-target="#formatModal">
                            more details
                        </a>).
                        <br />
                        You can indicate one or two clues given to a hand, at the end of that hand's line.
                    </small>

                    <div
                            class="modal fade"
                            id="formatModal"
                            tabindex="-1"
                            aria-labelledby="formatModalLabel"
                            aria-hidden="true"
                    >
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="formatModalLabel">Format details</h1>
                                    <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <h2>Colors available</h2>
                                    <ul>
                                        <li><code class="inline">B</code> : Blue</li>
                                        <li><code class="inline">R</code> : Red</li>
                                        <li><code class="inline">Y</code> : Yellow</li>
                                        <li><code class="inline">G</code> : Green</li>
                                        <li><code class="inline">W</code> : White</li>
                                        <li><code class="inline">M</code> : Multicolor</li>
                                        <li>
                                            <code class="inline">Bk</code>
                                            (or <code class="inline">BK</code> or <code class="inline">K</code>) : Black
                                        </li>
                                        <li><code class="inline">P</code> : Purple</li>
                                        <li><code class="inline">T</code> : Teal</li>
                                        <li><code class="inline">Pk</code> (or <code class="inline">PK</code>) : Pink
                                        </li>
                                        <li><code class="inline">Bn</code> (or <code class="inline">BN</code>) : Brown
                                        </li>
                                        <li>
                                            <code class="inline">X</code> : any color (use this when the color does not
                                            matter)
                                        </li>
                                    </ul>

                                    <h2>Card formats allowed</h2>

                                    <p>
                                        All the following cards can be prefixed by a <code class="inline">!</code>
                                        to make them marked by the clue
                                    </p>

                                    <p>A card can be :</p>
                                    <ul>
                                        <li>
                                            <p>known</p>
                                            <code>
                                                Bk1
                                                YX
                                                X2
                                            </code>
                                        </li>
                                        <li>
                                            <p>partially known</p>
                                            <code>
                                                B(1)
                                                X(1)
                                                (B)3
                                                (B)X
                                                (B)(4)
                                                (B)(X)
                                                (X)(5)
                                                (Y5)
                                                (YX)
                                                (X5)
                                            </code>
                                        </li>
                                        <li>
                                            <p>unknown</p>
                                            <code>
                                                XX
                                                X(X)
                                                (X)X
                                                (X)(X)
                                                (XX)
                                            </code>
                                        </li>
                                        <li>
                                            <p>with a known color different from the real one</p>
                                            <code>
                                                Y(M)2
                                                B(M)X
                                                W(M)(1)
                                                W(M)(X)
                                                R(M4)
                                                R(MX)
                                            </code>
                                        </li>
                                        <li>
                                            <p>with a known number different from the real one</p>
                                            <code>
                                                Y2(3)
                                                X1(2)
                                                W5(1)
                                                (W)4(3)
                                                G5(4)
                                                X5(3)
                                            </code>
                                        </li>
                                        <li>
                                            <p>with both known (number and value), different from the real ones</p>
                                            <code>
                                                Y(M)2(3)
                                                X(M)1(2)
                                                W(M)5(1)
                                                W(M)4(3)
                                                G5(M4)
                                                X5(M3)
                                            </code>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="players-hand">
                            Players' hand (
                            <a id="reset-3-players-hand-link" href="#">reset for 3 players</a>,
                            <a id="reset-4-players-hand-link" href="#">reset for 4 players</a>
                            )
                        </label>

                        <textarea
                                class="form-control"
                                id="players-hand"
                                name="players-hand"
                                placeholder="ex : <%=
                                sampleSituation.playersHand
                                        .map((hand) => hand.join(', '))
                                        .map((handString) => handString.replaceAll(', <-', ' <- '))
                                        .join('\n'); _%>"
                        ><%=
                            situation.playersHand
                                    .map((hand) => hand.join(', '))
                                    .map((handString) => handString.replaceAll(', <-', ' <- '))
                                    .join('\n');
                            %></textarea>
                        <div class="form-text text-muted">
                            One line per player. Use <code class="inline">,</code> as card separator.
                            <ul>
                                <li><code class="inline">X</code> : Random color/value (<code class="inline">XX</code>
                                    for a random card)
                                </li>
                                <li>
                                    <code class="inline"><- X,Y</code> : Indicates one or two clues to give to that hand
                                    (replace
                                    <code class="inline">X</code> and <code class="inline">Y</code> by colors/numbers)
                                </li>
                                <li><code class="inline">!</code> : Makes the card marked by the first clue.</li>
                                <li><code class="inline">?</code> : Makes the card marked by the second clue.</li>
                                <li>
                                    <code class="inline">()</code> : Surrounds a color/value/color+value if their owner
                                    doesn't know it.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="played-cards">Series <small>(the highest played card of each color)</small></label>
                        <input type="text"
                               class="form-control"
                               id="played-cards"
                               name="played-cards"
                               placeholder="ex : <%= sampleSituation.highestCardsPlayed _%>"
                               value="<%= situation.highestCardsPlayed _%>" />
                        <div class="form-text text-muted">
                            Use <code class="inline">,</code> as color separator.
                            <ul>
                                <li><code class="inline">X</code> : as value if this color has not been played yet</li>
                                <li><code class="inline">&lt;empty&gt;</code> : to not show the played cards</li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="discarded-cards">Discarded cards</label>
                        <input type="text"
                               class="form-control"
                               id="discarded-cards"
                               name=discarded-cards"
                               placeholder="ex : <%= sampleSituation.discardedCards _%>"
                               value="<%= situation.discardedCards _%>" />
                        <div class="form-text text-muted">
                            Use <code class="inline">,</code> as card separator.
                            <ul>
                                <li><code class="inline">&lt;empty&gt;</code> : to not show the discarded cards</li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="players-name">Players' name</label>
                        <input type="text"
                               class="form-control"
                               id="players-name"
                               name=players-name"
                               placeholder="ex : <%= sampleSituation.playersName _%>"
                               value="<%= situation.playersName _%>" />
                        <div class="form-text text-muted">
                            Use <code class="inline">,</code> as player name separator.
                            <ul>
                                <li>
                                    <code class="inline">&lt;empty&gt;</code> : to use the default ("Alice",
                                    "Bob", ...)
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nb-cards-in-deck">Nb of remaining cards in the deck</label>
                        <input type="text"
                               class="form-control"
                               id="nb-cards-in-deck"
                               name=nb-cards-in-deck"
                               placeholder="ex : <%= sampleSituation.nbRemainingCardsInDeck _%>"
                               value="<%= situation.nbRemainingCardsInDeck > 0 ? situation.nbRemainingCardsInDeck : '' _%>" />
                        <div class="form-text text-muted">
                            <code class="inline">&lt;empty&gt;</code> to not show the deck.
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h2>Generation</h2>

                    <div class="button-group">
                        <button class="btn btn-primary btn-lg" type="submit">Click me to update the situation</button>
                    </div>

                    <h3>Link</h3>
                    <p>You can copy <a href="<%= iframeSrc %>">this link</a> to share your situation.</p>

                    <h3>Preview</h3>
                    <p>You can save the image below if you like (right-click or long-press on it).</p>
                    <img id="generated-image" src="" alt="" />

                    <iframe src="<%= iframeSrc %>" id="generation-iframe" style="visibility: hidden"></iframe>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/html2canvas.js"></script>
<script src="/bootstrap.min.js"></script>
<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      const form = document.getElementById('generation-form');
      const reset3PlayersHandLink = document.getElementById('reset-3-players-hand-link');
      const reset4PlayersHandLink = document.getElementById('reset-4-players-hand-link');

      const parseStringList = function (stringList, removeSpaces = true) {
        return stringList
          .replaceAll(removeSpaces ? ' ' : '', '')
          .split(',')
          .map((value) => value.trim());
      };
      const encodeToStringList = function (list) {
        return list.join(',');
      };
      const parseMultipleStringLists = function (multipleStringLists) {
        return multipleStringLists
          .split('\n');
      };
      const encodeToMultipleStringList = function (list) {
        return list
          .map((items) => items.join(','))
          .join('|');
      };
      const parseHand = function (stringList, removeSpaces = true) {
        const parts = stringList
          .replaceAll(removeSpaces ? ' ' : '', '')
          .split('<-');

        const cards = parts[0]
          .split(',')
          .map((value) => value.trim())
          .filter((value) => value !== '');

        if (parts.length < 2) {
          return cards;
        }

        cards.push('<-' + parts[1].trim());

        return cards;
      };

      form.addEventListener('submit', function (event) {
        const playersHand = parseMultipleStringLists(
          document.getElementById('players-hand').value,
        ).map(parseHand);

        const highestCardsPlayed = parseStringList(
          document.getElementById('played-cards').value,
        );

        const discardedCards = parseStringList(
          document.getElementById('discarded-cards').value,
        );

        const playersName = parseStringList(
          document.getElementById('players-name').value,
          false,
        );

        const nbRemainingCardsInDeck = parseStringList(
          document.getElementById('nb-cards-in-deck').value,
        );

        const queryParams = [];
        if (playersHand) {
          queryParams.push(['playersHand', encodeToMultipleStringList(playersHand)]);
        }
        if (highestCardsPlayed && highestCardsPlayed.length > 0) {
          queryParams.push(['highestCardsPlayed', encodeToStringList(highestCardsPlayed)]);
        }
        if (discardedCards && discardedCards.length > 0) {
          queryParams.push(['discardedCards', encodeToStringList(discardedCards)]);
        }
        if (playersName && playersName.length > 0) {
          queryParams.push(['playersName', encodeToStringList(playersName)]);
        }
        if (nbRemainingCardsInDeck) {
          queryParams.push(['nbRemainingCardsInDeck', nbRemainingCardsInDeck]);
        }
        const queryString = '?' + queryParams
          .map(([name, value]) => `${name}=${encodeURIComponent(value)}`)
          .join('&');

        window.location.href = `<%= currentUrl %>${queryString}`;

        event.preventDefault();
        event.stopPropagation();
      }, false);

      reset3PlayersHandLink.addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('players-hand').value = 'XX, XX, XX, XX, XX\nXX, XX, XX, XX, XX\nXX, XX, XX, XX, XX';
      }, false);
      reset4PlayersHandLink.addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('players-hand').value = 'XX, XX, XX, XX\nXX, XX, XX, XX\nXX, XX, XX, XX\nXX, XX, XX, XX';
      }, false);

      // Image build from the iframe content
      html2canvas(
        document.querySelector('iframe').contentWindow.document.querySelector('#container')
      ).then((canvas) => {
        const generatedImageElement = document.getElementById('generated-image');
        generatedImageElement.src = canvas.toDataURL();
        generatedImageElement.classList.remove('hidden');
      });
    }, false);
  })();
</script>
</body>
</html>
